 html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 200px;
        height: 750px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        padding: 2px;
        width: 80%;
        border: 1px solid gray;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide-active{
         background: linear-gradient(to bottom, rgba(210, 210, 210, 1), white) !important;
    }
        
        .swiper-slide img {width:100px; height: 100px}